<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= stylesheet_link_tag "profile", media: "all" %>
    <style>
        .link:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
  <h2><strong>DESIGN<strong></h2>
    <form method="get" id="button">
      <button type="button" formtarget="_self"><%= link_to "Profile",'/profile' %></button>
      <button type="button" formtarget="_self"><%= link_to "Activities","Activities" %></button>
    </form>

  <div class="gdss">
    <h4>공대상상</h4>
    <%= image_tag "gs19.png", style: 'height: 200px;' %>
    <a href="https://www.facebook.com/407955152597898/posts/2852244828168906/"><%= image_tag "gs18.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/2268353823224679/"><%= image_tag "gs17.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/2129966807063382/"><<%= image_tag "gs16.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/2064200500306680/"><%= image_tag "gs15.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/2062096737183723/"><%= image_tag "gs14.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/2049269441799786/"><%= image_tag "gs13.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/2046331598760237/"><%= image_tag "gs13-1.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/1980861035307294/"><%= image_tag "gs13-2.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/2033793393347391/"><%= image_tag "gs12.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/1989967684396629/"><%= image_tag "gs11.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/1980861035307294/"><%= image_tag "gs10.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/1967905376602860/"><%= image_tag "gs9.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/1949031005156964/"><%= image_tag "gs8.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/1937150219678376/"><%= image_tag "gs7.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/1901185883274810/"><%= image_tag "gs6.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/1866244266768972/"><%= image_tag "gs5.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/1837270262999706/"><%= image_tag "gs4.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/1828642167195849/"><%= image_tag "gs3.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/1814926301900769/"><%= image_tag "gs2.jpeg", style: 'height: 200px;' %></a>
    <a href="https://www.facebook.com/407955152597898/posts/1733456596714407/"><%= image_tag "gs1.jpeg", style: 'height: 200px;' %></a>
  </div>
  <div class="proposal">
    <h4>Proposal</h4>
    <%= image_tag "pr1.jpeg", style: 'height: 200px;' %>
    <%= image_tag "pr2.jpeg", style: 'height: 200px;' %>
    <%= image_tag "pr3.jpeg", style: 'height: 200px;' %>
    <%= image_tag "pr4.jpeg", style: 'height: 200px;' %>
    <%= image_tag "pr5.jpeg", style: 'height: 200px;' %>
    <%= image_tag "pr6.jpeg", style: 'height: 200px;' %>
    <%= image_tag "pr7.jpeg", style: 'height: 200px;' %>
    <%= image_tag "pr8.jpeg", style: 'height: 200px;' %>
  </div>
  <div class="yehs">
    <h4>YEHS</h4>
    <%= image_tag "yehs2.png", style: 'height: 200px;' %>
    <%= image_tag "yehs1.png", style: 'height: 200px;' %>
  </div>

  <div class="etc">
    <h4>etc</h4>
    <%= image_tag "etc17.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc16.jpeg", style: 'height: 200px;' %>
  <%= image_tag "etc15.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc14.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc13.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc12.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc11.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc10.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc9.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc8.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc7.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc6.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc5.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc4.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc3.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc2.jpeg", style: 'height: 200px;' %>
    <%= image_tag "etc1.jpeg", style: 'height: 200px;' %>
  </div>

</body>
